
body{
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(Project-Images/background.jpg);
  background-size: cover;
}
#canvas-container{
  background-color: rgba(39, 66, 95, 0.89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  border-radius: 100px;
}
#game-board{
  background-image: url('Project-Images/greenBackground.png');
  background-color: green;
  justify-content: center;
  border-image-repeat: repeat;
  border-width: 50px 50px 50px 50px;
  border-radius: 25px;
  width: 200px;
  height: 500px;
  border: 30px solid transparent;
  border-image: url("../Project/Project-Images/puttingGreenBorder.png") 30 round;
}
#start-button{
  width: 100px;
  height: 55px;
  margin-bottom: 14px;
  justify-content: center;
  background-color: #4ff14f;
  border-radius: 40px;
  color: black;
  font-size: 23px;
}
/* make instructions invisible */
/* .instructionsDiv{
  margin: 0 auto;
  width: 190px;
  height: 490px;
  float: left;
  position: absolute;
  background-color: black;
  color: white;
} */